@import "/assets/css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Khula:wght@300;400;600;700;800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$primary-color: #233D4D;
$secondary-color: #FE7F2D;
$tertiary-color: #FCCA46;
$container-width: 1620px;
$container-padding: 15px;

body {
    font-family: "Khula", sans-serif;
    background-color: white;
    color: black;
    font-size: 20px;

}

.container {
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: 0 auto;
}

.block {
    height: 200px;
    background-color: #233D4D;
}

//HEADER
.header {
    min-height: 705px;
    background-image: url(/data/image/bridge.png);
    color: white;
    padding-top: 10px;
}

.header a {
    color: white;
}

.header_top {
    margin-bottom: 155px;
}

.header_content {
    max-width: 677px;
}

//nav
.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.nav_logo {
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
    column-gap: 50px;
    font-size: 18px;

    li a:hover {
        color: $secondary-color;
    }
}

.nav_login {
    display: flex;
    column-gap: 20px;
    font-size: 14px;
}

//logo

#logo {
    width: 56px;

}

.logo-text {
    padding-left: 10px;
    font-size: 25px;
}

//login
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#cart {
    width: 40px;
}

#login {
    width: 40px;
}

//header-content
.header_title {
    font-family: "Raleway", sans-serif;
    font-size: 86px;
    font-weight: bold;
    padding-bottom: 30px;
}

.header_text {
    font-family: "Comfortaa", sans-serif;
    font-size: 30px;
}